.key {
    background-color: white;
    height: 200px;
    width: 100px;
    border: 2px solid black;
    cursor: pointer;
    text-indent:-9999px;
    /* border: green solid; */
}

.keytext {
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 36px;
    margin-top: 240px;
    pointer-events: none;
    display: none;
    /* color: transparent; */
}

.key.sharp {
    position: relative;
    background-color: grey;
    margin-left: -42px;
    margin-right: -42px;
    height: 120px;
    width: 80px;
    z-index: 2;

}

.key.pressed, .key.sharp.pressed {
    background-color: #00d8ff;
}

/* Snir Responsive Update */
.key:active,
.key.sharp:active {
    background-color: #00d8ff;
}
@media screen and (max-width: 550px) {
    .key {
        height: 200px;
        width: 43px;
    }
    .key.sharp {
        margin-left: -17px;
        margin-right: -17px;
        width: 29px;
    }
}
@media screen and (min-width: 550px) and (max-width: 700px) {
    .key {
        width: 70px;
    }
    .key.sharp {
        margin-left: -32px;
        margin-right: -32px;
        width: 60px;
    }
}