.piano {
    display: flex;
    flex-direction: row;
 
}
.notePlaying{
    margin-top: 5px;
    /* border: solid; */
    height: 10vh;
    width: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media screen and (max-width: 550px) {
    .piano {
       
    }
   
}
/* @media screen and (min-width: 550px) and (max-width: 700px) {
    .piano {
        position:unset;
    }
    .App-header img{
        display: none;
    }
} */