.App {
  text-align: center;
}
*{
  margin: 0;
  box-sizing: border-box;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
 flex-direction: column; 
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;

}
section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Sliders{
  width: 1050px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgb(65, 65, 65) solid;
}
.Sliders>*{
  margin-right: 10px;
}